* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.opening {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/IMG_9780.jfif);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;   
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.image {
    width: 80px;
    margin-top: 2vh;
    margin-left: 7vw;
}

.home {
    border-bottom: 1px solid white;
    padding: 5px 0;
}

.list {
    display: flex;
    font-size: calc((1.05 - 1) * 1.2vw + 0.9rem);
    color: white;
    gap:25px;
    padding-top: 2vh;
    align-items: center;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    flex-shrink: 1;
    margin-right: 8vw;
}

a:link {
    color: white;
    text-decoration:none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 115px;
}

.opening-text-title {
    font-size: clamp(30px,5vw,60px);
    margin-left: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 17vw;
    color: white;
}

.opening-text {
    display: flex;
    width: 40%;
    font-size: clamp(20px,2vw,40px);
    margin-left: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white ;
    margin-top: 3vw;
}

.button2 {
    width: 120px;
    height: 45px;
    margin-left: 7vw;
    font-size: calc((1.05 - 1) * 1.2vw + 0.9rem);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 3vw;
}

.margin {
    height: 110px;
}

.perc {
    display: flex;
    justify-content: space-between;
    width: 100%;
 
}

.pack1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: 18vw;
    margin-top: 50px;
}

.perc-perc {
    color: #18ea19;
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    line-height: calc(1.3 * (1 + (1 - 3.5)/25));
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.perc-text {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.pack2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
}


.pack3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-right: 18vw;
    margin-top: 50px;
    max-width: 20vw;
}

.dash {
    height: 4px;
    width: 19px;
    background-color: black;
    margin-top: 10px;
}

.skills {
    display: flex;
    width: 100%;
    gap:1vw;
}

.image2 > img {
    width: 40vw;
    height: 37vw;
    margin-left: 8vw;
    padding-top: 10vw;
}

.skills-text {
    width: 40vw;
    margin-top: 10vw;
}

.skills-head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: calc(1.3 * (1 + (1 - 3)/25));
}

.b {
    font-weight: bold;
}

.skills-p {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3vw;
    margin-top: 2vw;
}

.skills-link {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3vw;
    margin-top: 1vw;
    color: #18ea19;
    font-size: calc((1.3 - 1) * 1.2vh + 1rem);
    text-decoration: underline;
}






