* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.opening {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/IMG_9780.jfif);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;   
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.image {
    width: 80px;
    margin-top: 2vh;
    margin-left: 7vw;
}

.home {
    border-bottom: 1px solid white;
    padding: 5px 0;
}

.list {
    display: flex;
    font-size: calc((1.05 - 1) * 1.2vw + 0.9rem);
    color: white;
    gap:25px;
    padding-top: 2vh;
    align-items: center;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    flex-shrink: 1;
    margin-right: 8vw;
}

a:link {
    color: white;
    text-decoration:none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 115px;
}

.opening-text-title {
    font-size: clamp(30px,5vw,60px);
    margin-left: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 17vw;
    color: white;
}

.opening-text {
    display: flex;
    width: 40%;
    font-size: clamp(20px,2vw,40px);
    margin-left: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white ;
    margin-top: 3vw;
}

.button2 {
    width: 120px;
    height: 45px;
    margin-left: 7vw;
    font-size: calc((1.05 - 1) * 1.2vw + 0.9rem);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 3vw;
}

.margin {
    height: 110px;
}

.perc {
    display: flex;
    justify-content: space-between;
    width: 100%;
 
}

.pack1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: 18vw;
    margin-top: 50px;
}

.perc-perc {
    color: #18ea19;
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    line-height: calc(1.3 * (1 + (1 - 3.5)/25));
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.perc-text {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.pack2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
}


.pack3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-right: 18vw;
    margin-top: 50px;
    max-width: 20vw;
}

.dash {
    height: 4px;
    width: 19px;
    background-color: black;
    margin-top: 10px;
}

.skills {
    display: flex;
    width: 100%;
    gap:1vw;
    padding-bottom: 6vw;
}

.image2 > img {
    width: 40vw;
    height: 37vw;
    margin-left: 8vw;
    padding-top: 10vw;
}

.skills-text {
    width: 40vw;
    margin-top: 10vw;
}

.skills-head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: calc(1.3 * (1 + (1 - 3)/25));
}

.b {
    font-weight: bold;
}

.skills-p {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3vw;
    margin-top: 2vw;
}

.skills-link {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3vw;
    margin-top: 1vw;
    color: #18ea19;
    font-size: calc((1.3 - 1) * 1.2vh + 1rem);
    text-decoration: underline;
}

.program {
    background-color: #25e200;
    width: 100%;
}

.program-p {
    font-size: calc(4 * 1.2vh + 1rem);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    padding-top: 3vw;
}

.program-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3vw;
    padding-bottom: 6vw;
}

.program-img > img:first-child {
    width: 27vw;
    height: 32vw;
    margin-left: 20vw;
}

.program-img >img:last-child {
    width: 27vw;
    height: 32vw;
    margin-right: 20vw;
}

.image3 > img {
    width: 40vw;
    height: 35vw;
    margin-left: 8vw;
    padding-top: 5vw;
}

.skills-text-2 {
    width: 40vw;
    margin-top: 5vw;
}

.join-head {
    font-size: calc(1.9 * 1.2vh + 1rem);
    font-family: Arial, Helvetica, sans-serif;
    line-height: calc(1.3 * (1 + (1 - 2)/25));
    text-align: center;
}

.join-body {
    font-size: calc(0.6* 1.2vh + 1rem);
    font-family: Arial, Helvetica, sans-serif;
    line-height: calc(1.3 * (1 + (1 - 2)/25));
    text-align: center;
    padding-top: 1.5vw;
}

.partners {
    width: 100%;
    height: 9vw;
    margin-top: 3vw;
    padding-right: 6vw;
    padding-left: 6vw;
}

.review  {
    display: block;
    width: 52vw;
    height: 22vw;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
}

.gray {
    background-color: #e6e6e6;
}

.media {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    line-height: calc(1.3 * (1 + (1 - 2.5)/25));
    padding-top: 3vw;
}

.media-images {
    display: flex;
    width: 50vw;
    gap: 1vw;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 3vw;
    padding-bottom: 4vw;
}

.media-images1 {
    display: flex;
    flex-direction: column;
    gap: 2vw;

}

.media-images1 > img {
    width: 20vw;
    height: 5vw;
}

.media-images2 {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.media-images2 > img {
    width: 20vw;
    height: 5vw;
}

.media-images3 {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.media-images3 > img {
    width: 20vw;
    height: 5vw;
}

.media-images4 {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.media-images4 > img {
    width: 20vw;
    height: 5vw;
}

.donors {
    display: block;
    width: 85vw;
    height:30vw;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
}

.line {
    width: 85vw;
    height: 1px;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.media-images-2 {
    display: flex;
    gap: 12vw;
    margin-top: 3vw;
    padding-bottom: 4vw;
}

.media-images-2 > img {
    width: 29vw;
    height: 8vw;
}

.media-images-2 > img:first-child {
    margin-left: 14vw;
}

.media-images-2 > img:last-child {
    margin-right: 14vw;
}

.media-2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    line-height: calc(1.3 * (1 + (1 - 2.5)/25));
    padding-top: 3vw;
}

.button3 {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vw;
}

.margin2 {
    height: 3vw;
}

.footer {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2vw 0;
}

.privacy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: font-size: calc(0.1 * 1.2vw + 1rem);;
    color: #18ea19;
    text-decoration: underline;
}

.copy {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: calc(0.1 * 1.2vw + 1rem);
}



